body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
   margin: 0 auto 14.4px auto;
   font-family: 'Sacramento', cursive;
   font-size: 5.625rem;
   color: #4d6e6e;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #4d6e6e;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #445151;
}
hr{
    border-style: dotted;
    border-top: 0px;
    border-width: 6px;
    margin: 100px auto 100px auto;
    width: 3%;
   
}
a{
    color:#445151;
}

.top-container{
    position: relative;
    background-color: #EEF2E6;
    padding-top: 114px;
   
}
.top-cloud{
    position: absolute;
    margin: -79px 205px;
}
.bottom-cloud{
    position: absolute;
    margin: 16px -43px;
}

.par{
    /* display: inline-block; */
    margin: 44px auto;
    font-size: 1.5rem;
}
.pro{
    text-decoration: underline;
    margin: 0 auto;
} 
.middle-container{
    margin: 100px 0px;
}
.intro{
    display: inline-block;
    margin: 0px auto;
    width: 30%;
    line-height: 2;
}
.profile{
    margin: 54px auto 54px auto;
}
.profile-img{
    width: 165px;
    height: 165px;
}
.skills{
    margin: 54px auto 54px auto;
}
.skill-row{
    width: 50%;
    height: 149px;
    margin: 100px auto 0 auto;
    text-align: left;
    line-height: 2;
}
.programming-img{
    margin: 14px 39px auto auto;
    width: 100px;
    height: 100px;
    float: left;
}
.first-skill{
    text-align: right;
    padding-right: 33px;
}
.skill-row-prog{
    width: 379px;
    float: right;
    margin-right: 39px;
}
.skill-row-par{
    text-align: justify;
    width: 379px;
    float: left;
    margin: auto auto auto 33px;
}
.car-music{
    width: 100px;
    height: 100px;
    margin: 27px 0 0 36px;
    float: right;
}
.driving-music{
    text-align: left;
    position: relative;
    padding-left: 33px;
}
.bottom-container{
    background-color: #CFD2CF;
    padding: 42px 42px 21px 42px;
}
.footer-link{
    margin: auto 5px;
}
.button{
    background-color: #666966;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
.button:hover {
    background-color: #b8c7b8;
    color:  #666966;
}
.Copyright{
    margin:42px auto 0 auto;
}
