body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
   margin: 0 auto 14.4px auto;
   font-family: 'Sacramento', cursive;
   font-size: 5.625rem;
   color: #4d6e6e;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #4d6e6e;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #445151;
}
a{
    color:#445151;
}

.top-container{
    position: relative;
    background-color: #EEF2E6;
    padding-top: 100px;
}
.top-cloud{
    position: absolute;
    margin: -79px 205px;
}
.bottom-cloud{
    position: absolute;
    margin: 16px -43px;
}

.par{
    /* display: inline-block; */
    margin: 44px auto;
    font-size: 1.5rem;
}
.pro{
    text-decoration: underline;
    margin: 0 auto;
} 
.middle-container{
    margin:22px auto;
}
.programming-img{
    width: 165px;
    height: 165px;
}
.car-music{
    width: 165px;
    height: 165px;
}
.profile-img{
    width: 165px;
    height: 165px;
}